/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
width: 700px;
padding: 20px;
background-color: silver;
margin: 0px auto;
}
#greenshape{
height: 160px;
margin: 20px;
background-color: green;
}
#blueshape{
height: 100px;
margin: 20px;
background-color: blue;
}
.redshape{
height: 100px;
width: 305px;
margin: 20px;
display: inline-block;
background-color: red;
}
.yellowshape{
height: 100px;
width: 190px;
margin: 20px;
display: inline-block;
background-color: yellow;
}
#purplesquareleft{
height: 120px;
width: 120px;
margin-left: 20px;
margin-bottom: 20px;
margin-top: 20px;
margin-right: 190px;
display: inline-block;
background-color: purple;
}
#purplesquareright{
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 185px;
    display: inline-block;
    background-color: purple;
}